/* ボタンの上書きデザインを記述 */

    .menu__btn{
        margin-left: auto;
        display: block;
        margin-top: 1.25rem;
    }
    .menu__btn span,
    .news__btn span{
        background-color: var(--accent-color);
        color: #fff;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }