@use '../../foundation/import.scss' as *;

.footer {
    height: var(--footer-height);

    &__inner {
        height: 100%;

        p {
            &:hover {
                color: #333;
                transition: color 0.8s ease;
            }

            @include media-query(md) {
                font-size:13px;
            }
        }

        span {
            @include media-query(md) {
                display: none;
            }
        }

        small {
            @include media-query(md) {
                font-size: 13px;
            }
        }
    }

    @include media-query(md) {
        height: var(--sp-footer-height);
    }
}