.footer {
    height: var(--footer-height);

    &__inner {
        height: 100%;

        p {

            &:hover{
                color:#333 ;
                transition: color 0.8s ease;
            }

            @media (max-width: 47.9375rem) {
                font-size: 13px;
            }
        }
    }

    @media (max-width: 47.9375rem) {
        height: var(--sp-footer-height);
    }
}