@use '../../foundation/import.scss' as *;

.l-header {
    height: var(--header-height);

    // SP用に高さ変更
    @include media-query(md) {
        height: var(--sp-header-height);
    }
}

.header {
    background-image: url('/assets/images/header_bg.png');
    background-size: cover;
    background-position: center center;

    &__logo {
        line-height: 1.3;
        text-shadow: 0 0 5px #fff;

        h1 {
            @include media-query(md) {
                font-size: var(--font-size-3xl);
            }
        }
    }

    &__logo:hover {
        color: var(--accent-color);
        transition: color 0.8s ease;
        text-shadow: 0 0 15px #fff;
    }

    &__nav {
        width: 100%;

        .header__nav-icon {
            width: 3rem;
        }

        .header__nav-icon:hover {
            transform: rotate(10deg);
        }

        li {
            white-space: nowrap;
        }

        @include media-query(md) {
            display: none;
        }
    }

    &__nav-inner {
        width: 100%;
        height: auto;
        font-size: 1.5rem;

        .header__text {
            position: relative;
            text-decoration: none;
            color: inherit;
            transition: color 0.3s ease;
            transition: letter-spacing 0.3s ease;
            text-shadow: 0 0 2px #fff;

            &.is-active {
                color: var(--text-color-sub);
                font-weight: bold;
            }

            &::after {
                content: '';
                position: absolute;
                left: 11%;
                bottom: -4px;
                width: 80%;
                height: 2px;
                background-color: var(--text-color-sub);
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.3s ease;
            }

            &:hover {
                color: var(--text-color-sub);
                letter-spacing: 0.15em;

                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }

    &__container {
        @include media-query(md) {
            padding: 0;
            height: var(--sp-header-height);
        }
    }

    &__inner {
        @include media-query(md) {
            width: 100%;
            height: var(--sp-header-height);
        }
    }
}

/* topページのデザイン */
.header--top {
    background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)),
        url('/assets/images/hp_top.png');
    background-color: #4E342E;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: flex-start;
    padding: 2rem;

    @include media-query(md) {
        background:
            url('/assets/images/top-back.png');
        height: auto;
        min-height: 500px;
    }

    .header__container {
        height: 100%;
        align-items: flex-start;

        @include media-query(md) {
            padding: 0;
        }

        .header__inner {
            @include media-query(md) {
                flex-direction: column;
            }

            .header__nav {
                height: auto;
            }

            .header__logo {
                display: flex;
                align-items: center;
                margin-top: 15%;

                @include media-query(md) {
                    margin-top: 35%;
                }

                h1 {
                    font-size: var(--font-size-5xl);

                    @include media-query(md) {
                        font-size: var(--font-size-4xl);
                    }
                }
            }
        }

    }
}

.sp-nav {
    display: none;

    a {
        position: relative;
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background-color: var(--text-color-sub);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }

        &:hover {
            color: var(--text-color-sub);

            &::after {
                transform: scaleX(1);
            }
        }
    }

    @include media-query(md) {
        display: block;
    }
}

.hamburger {
    display: none;

    @include media-query(md) {
        display: flex;
    }
}