---
interface Props {
    imgSrc: string;
    alt: string;
    text: string;
    className?: string;
}

const { imgSrc, alt, text, className = '' } = Astro.props;
---

<div class={`card flex flex-col items-center rounded ${className} sm:justify-between`}>
        <div class="img__wrapper img-wrapper">
            <img src={imgSrc} alt={alt} class="card__img" />
        </div>
        <p class="card__text text-center">{text}</p>
</div>


