---
import Card from './Card.astro';
import Button from '../components/Button';
---

<section class="card-box l-wrapper">
    <div class="l-container px-8 pt-10 sm:px-4">
        <div class="card-box__container sm:pt-0 sm:pb-20">
            <h2 class="card-box__heading font-bold u-heading-line sm:pb-3">MENU</h2>
            <div class="card-box__card pt-6 sm:pt-4">
                <Card
                    imgSrc="/assets/images/strawberrychocobanana.png"
                    alt=""
                    text="いちごチョコバナナ"
                    className="card-box__card-item card-box__card-item--01"
                />

                <Card
                    imgSrc="/assets/images/chocobanana.png"
                    alt=""
                    text="チョコバナナ"
                    className="card-box__card-item"
                />

                <Card
                    imgSrc="/assets/images/hamtunacheese.png"
                    alt=""
                    text="ハムツナチーズ"
                    className="card-box__card-item"
                />
            </div>
            <Button href="/menu" className="menu__btn" variant="push">
                <span>その他のメニュー</span>
            </Button>
        </div>
    </div>
</section>
