---
import siteData from '../../siteData.mjs';
import Button from '../components/Button';
---

<section class="info l-wrapper px-10 mt-20 sm:px-4">
    <!-- 店頭イメージ＆マップ -->
    <div class="l-container l-row sm:flex-col">
        <div class="l-column l-column--8">
            <h2 class="font-bold u-heading-line mb-6">machikado cafe</h2>
            <div class="info__img-wrapper img-wrapper img-wrapper--aspect-16-9 img-wrapper--rounded">
                <img src="/assets/images/tentou_20251205.jpg" alt="" />
            </div>
        </div>

        <div class="l-column l-column--4 sm:mt-10">
            <div class="info__map px-8 sm:px-0">
                <h2 class="font-bold u-heading-line mb-6 pb-8">お店の場所</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.905040877367!2d135.62094841520982!3d34.783165780413405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60011ddc93c8c745%3A0xf55bd0aebda46ecc!2z44Ki44Or44O744OX44Op44K26aaZ6YeM5ZyS!5e0!3m2!1sja!2sjp!4v1670760042840!5m2!1sja!2sjp"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <!-- 店舗情報 -->
    <div class="info__block mt-10">
        <h2 class="font-bold u-heading-line">店舗情報</h2>
        <ul class="px-4 sm:px-1">
            <li class="l-row py-4 sm:flex-col">
                <div class="l-column l-column--6 flex items-center">
                    <p>住所</p>
                </div>
                <div class="l-column l-column--6">
                    <p>〒572-0028</p>
                    <p>大阪府寝屋川市日新町5-5 アルプラザ香里園店</p>
                </div>
            </li>
            <li class="l-row py-4 sm:flex-col">
                <div class="l-column l-column--6 flex items-center"><p>メールアドレス</p></div>
                <div class="l-column l-column--6">
                    <p>
                        <a href="" class="tooltip"
                            >machikadocafe.kourien@gmail.com
                            <span class="tooltip-text flex flex-col justify-center items-center px-8 pt-6 text-center"
                                >お問い合わせは<br />こちら</span
                            >
                        </a>
                    </p>
                </div>
            </li>
            <li class="l-row py-4 sm:flex-col">
                <div class="l-column l-column--6 flex items-center"><p>営業時間</p></div>
                <div class="l-column l-column--6">
                    <p>10:00 OPEN</p>
                </div>
            </li>
            <li class="l-row py-4 sm:flex-col">
                <div class="l-column l-column--6 flex items-center"><p>お支払い方法</p></div>
                <div class="l-column l-column--6">
                    <div class="flex flex-col">
                        <p>現金</p>
                        <p>クレジットカード<span class="cash-hint">（タッチ決済も可能です）</span></p>
                        <p>HOPマネー<span class="cash-hint">（※事前のチャージが必要です）</span></p>
                        <p>楽天Edy ／ ID ／ QUICPay</p>
                    </div>
                </div>
            </li>
            <li class="l-row py-4 sm:flex-col">
                <div class="l-column l-column--6">
                    <!-- レイアウト用空box -->
                </div>
                <div class="l-column l-column--6 flex justify-end">
                    <Button href={siteData.contact.path} className="info__btn" variant="secondary">
                        <span>お問い合わせフォーム</span>
                    </Button>
                </div>
            </li>
        </ul>
    </div>
</section>
