---
import Button from '../components/Button';
---

<section id="intro-section" class="intro l-wrapper mt-20 sm:mt-10">
    <div class="intro__container l-container px-20 pb-8 sm:px-4">
        <div class="l-inner">
            <h2 class="u-border-left mb-4" data-aos="fade" data-aos-delay="200">machikado cafeはこんなお店です！</h2>
            <!-- テキストbox１ -->
            <div class="pb-4" data-aos="fade-left" data-aos-delay="300">
                <h3 class="u-heading-line mb-4">
                    アルプラザ香里園のフードコートにあるカフェ｜コーヒーとクレープが楽しめる
                </h3>
                <div class="img-wrapper rounded-lg">
                    <img src="/assets/images/intro_01.jpg" alt="intro__img" />
                </div>
                <p class="py-4">
                    machikado cafeは、アルプラザ香里園の1階フードコート内にあるカフェです。
                    豊富なメニューを取り揃えているので、幅広い年齢層のお客様に愛されています。
                    お買い物の合間にホッと一息ついてもらえる憩いの場になるようなお店づくりを心がけています。
                </p>
            </div>

            <!-- テキストbox2 -->
            <div class="py-4" data-aos="fade-left" data-aos-delay="400">
                <h3 class="u-heading-line mb-4">こだわりのクレープとコーヒーが楽しめるお店</h3>
                <div class="img-wrapper rounded-lg">
                    <img src="/assets/images/intro_02.png" alt="intro__img" />
                </div>
                <div class="py-4">
                    <p>
                        machikado cafeは、こだわりのクレープとコーヒーが楽しめるお店です。
                        クレープは自家製のもちもち生地が特徴で、甘さ控えめのクリームをたっぷりと使用した
                        ボリューム満点のクレープに仕上げています。
                    </p>
                    <p>
                        スイーツ系からおかず系まで、幅広いメニューをご用意していますので
                        男女問わず、お好みのクレープをお召し上がりいただけます。
                        コーヒーは豆をお店で挽いて淹れる、香り高いコーヒーをご用意しています。
                        オーダーが入ってからミルクを泡立てて仕上げる癒しのカフェラテや、コーヒー好きにおすすめの
                        エスプレッソもご用意しております。 もちろんコーヒー以外にも、様々なドリンクをご用意していて
                        タピオカドリンクのメニューも非常に豊富に取り揃えております。
                    </p>
                </div>
            </div>

            <!-- テキストbox3 -->
            <div class="py-4" data-aos="fade-left" data-aos-delay="600">
                <h3 class="u-heading-line mb-4">目の前のソファー席でゆったりとしたリラックスタイムを楽しめる</h3>
                <div class="img-wrapper rounded-lg">
                    <img src="/assets/images/intro_03.jpg" alt="intro__img" />
                </div>
                <div class="py-4">
                    <p>
                        お店の目の前がフードコートのソファー席となっていますので、
                        ゆったりとご飲食をたのしんでいただけます。
                    </p>
                    <p>
                        お買い物の合間にちょっと休憩したい場合にも、ピッタリです。
                        ハムやチーズ、ツナなどの入ったおかず系クレープはランチタイムなどのお食事にも
                        おすすめなのでランチにも、ひと休憩にもぜひmachikado cafeをご利用ください。
                    </p>
                </div>
            </div>
            <div class="flex justify-end">
                <Button href="#intro-section" className="page-up__btn" variant="push">
                    <span><i class="fa-solid fa-angles-up"></i></span>
                </Button>
            </div>
        </div>
    </div>
</section>
