---
import MenuCard from './MenuCard.astro';
---

<div class="menu l-container py-20">
    <div class="l-inner">
        <!-- スイーツ系ホイップクレープメニュー -->
        <h2 class="u-border-left">スイーツ系ホイップクレープメニュー</h2>
        <div class="grid__box grid__box--sweets-whip py-4">
            <div class="grid__item">
                <MenuCard
                    imgSrc="/assets/images/brulee.jpg"
                    alt=""
                    text="クレープブリュレ"
                    price="660"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/strawberrychocobanana.png"
                    alt=""
                    text="いちごチョコバナナ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/strawberrycaramelbanana.png"
                    alt=""
                    text="いちごキャラメルバナナ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/strawberrychoco.png"
                    alt=""
                    text="いちごチョコ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/strawberrycaramel.png"
                    alt=""
                    text="いちごキャラメル"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/strawberry.png"
                    alt=""
                    text="いちご"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/chocobanana.png"
                    alt=""
                    text="チョコバナナ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/caramelbanana.png"
                    alt=""
                    text="キャラメルバナナ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/macchabanana.png"
                    alt=""
                    text="抹茶バナナ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/banana.png"
                    alt=""
                    text="バナナ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/choco.png"
                    alt=""
                    text="チョコ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/caramel.png"
                    alt=""
                    text="キャラメル"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/maccha.png"
                    alt=""
                    text="抹茶"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/maple.png"
                    alt=""
                    text="メープル"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/strawberry so-su.png"
                    alt=""
                    text="ストロベリー"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/blueberry.png"
                    alt=""
                    text="ブルーベリー"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/mango.png"
                    alt=""
                    text="マンゴー"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/plain.png"
                    alt=""
                    text="プレーン"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
        </div>

        <!-- スイーツ系ホットクレープメニュー -->
        <h2 class="u-border-left mt-10">スイーツ系ホットクレープメニュー</h2>
        <div class="grid__box grid__box--sweets-hot py-4">
            <div>
                <MenuCard
                    imgSrc="/assets/images/sugarbutter.png"
                    alt=""
                    text="シュガーバター"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/maplebutter.png"
                    alt=""
                    text="メープルバター"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/cinnamonsugarbutter.png"
                    alt=""
                    text="シナモンシュガーバター"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/chocoalmond.png"
                    alt=""
                    text="チョコアーモンド"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/caramelalmond.png"
                    alt=""
                    text="キャラメルアーモンド"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/hotchocobanana.png"
                    alt=""
                    text="ホットチョコバナナ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/hotcaramelbanana.png"
                    alt=""
                    text="ホットキャラメルバナナ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
        </div>

        <!-- おかず系ホットクレープメニュー -->
        <h2 class="u-border-left mt-10">おかず系ホットクレープメニュー</h2>
        <div class="grid__box grid__box--sweets-hot py-4">
            <div>
                <MenuCard
                    imgSrc="/assets/images/hamsalada.png"
                    alt=""
                    text="ハムサラダ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/tunasalada.png"
                    alt=""
                    text="ツナサラダ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/hamcheese.png"
                    alt=""
                    text="ハムチーズ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/tunacheese.png"
                    alt=""
                    text="ツナチーズ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/hamtunacheese.png"
                    alt=""
                    text="ハムツナチーズ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/hampizza.png"
                    alt=""
                    text="ハムピザ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/tunapizza.png"
                    alt=""
                    text="ツナピザ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/sausagehum.png"
                    alt=""
                    text="ソーセージハム"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/sausagetuna.png"
                    alt=""
                    text="ソーセージツナ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
        </div>

        <!-- トッピングメニュー -->
        <h2 class="u-border-left mt-10">トッピングメニュー</h2>
        <div class="grid__box grid__box--sweets-hot py-4">
            <div>
                <MenuCard
                    imgSrc="/assets/images/cornflakes.png"
                    alt=""
                    text="コーンフレーク"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/chocospray.png"
                    alt=""
                    text="チョコスプレー"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/colorspray.png"
                    alt=""
                    text="カラースプレー"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/almond.png"
                    alt=""
                    text="アーモンド"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/oreo.png"
                    alt=""
                    text="オレオ"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/whip.png"
                    alt=""
                    text="ホイップ増量"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/custard.png"
                    alt=""
                    text="カスタード"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/vanillaice.png"
                    alt=""
                    text="バニラアイス"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/chocoice.png"
                    alt=""
                    text="チョコアイス"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
            <div>
                <MenuCard
                    imgSrc="/assets/images/macchaice.png"
                    alt=""
                    text="抹茶アイス"
                    price="480"
                    className="menu card-box__card-item"
                />
            </div>
        </div>
    </div>
</div>
