---
import NewsItem from './NewsItem.astro';


interface Props {
    newsItems?: {
        date: string;
        category: string;
        title: string;
        slug?: string;
    }[];
}

const {newsItems = [] } = Astro.props;
---

<div class="news l-wrapper items-center mt-20 sm:pt-0 pb-0">
    <div class="news__container l-container flex flex-col items-center sm:pt-0">
        <div class="news-list w-full mb-8 sm:mb-6">
            {newsItems.map((item) => <NewsItem {...item} />)}
        </div>
    </div>
</div>
