---
import NewsItem from '../components/NewsItem.astro';
---

<section class="news-page l-wrapper py-20">
    <div class="l-container">
        <div class="l-inner">
            <div class="news-page__card l-row l-row--gap py-4 px-4 mb-8 rounded-lg">
                <div class="l-column l-column--3">
                    <div class="img-wrapper img-wrapper--aspect-1-1 rounded">
                        <img src="/public/assets/images/winter2022.jpg" alt="" />
                    </div>
                </div>
                <div class="l-column l-column--9 flex flex-col justify-center">
                    <NewsItem
                        date="2023.05.15"
                        category="お知らせ"
                        title="新メニューのいちごショコラクリームが発売！"
                    />
                </div>
            </div>
            <div class="news-page__card l-row l-row--gap py-4 px-4 mb-8 rounded-lg">
                <div class="l-column l-column--3">
                    <div class="img-wrapper img-wrapper--aspect-1-1 rounded">
                        <img src="/public/assets/images/winter2022.jpg" alt="" />
                    </div>
                </div>
                <div class="l-column l-column--9 flex flex-col justify-center">
                    <NewsItem
                        date="2023.05.15"
                        category="お知らせ"
                        title="新メニューのいちごショコラクリームが発売！"
                    />
                </div>
            </div>
            <div class="news-page__card l-row l-row--gap py-4 px-4 mb-8 rounded-lg">
                <div class="l-column l-column--3">
                    <div class="img-wrapper img-wrapper--aspect-1-1 rounded">
                        <img src="/public/assets/images/winter2022.jpg" alt="" />
                    </div>
                </div>
                <div class="l-column l-column--9 flex flex-col justify-center">
                    <NewsItem
                        date="2023.05.15"
                        category="お知らせ"
                        title="新メニューのいちごショコラクリームが発売！"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
