---
import siteData from '../../siteData.mjs';
import News from '../components/News.astro';
import { getCollection } from 'astro:content';
import Button from '../components/Button';

const news = await getCollection('news');
const sorted = news.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

const newsItems = sorted.map((item) => ({
    date: item.data.date,
    category: item.data.category,
    title: item.data.title,
    image: item.data.image ?? '',
    slug: item.slug
}));

interface Props {
    wrapperClass?: string;
}

const { wrapperClass = '' } = Astro.props;
---

<section class={`${wrapperClass} news-page l-wrapper py-8 mt-20 sm:py-4 sm:mt-4`}>
    <div class="l-container sm:px-4">
        <div class="l-inner">
            <h2 class="u-heading-line">お知らせ</h2>
            <div class="news-page__card px-6 py-6 mb-8 sm:px-0">
                <div class="flex flex-col justify-center sm:justify-start">
                    <News newsItems={newsItems} />
                </div>
                <div class="flex justify-center">
                    <Button href={siteData.news.path} className="news__btn" variant="push">
                        <span>お知らせ一覧へ</span>
                    </Button>
                </div>
            </div>
        </div>
    </div>
</section>
