---
import Button from '../components/Button';
import Card from '../components/Card.astro';
interface CtaProps {
    text: string;
    buttonLabel: string;
    buttonHref: string;
}

const { text, buttonLabel, buttonHref } = Astro.props as CtaProps;
---

<!-- 以下で呼び出し
    <CTA
        text="ctaキャッチコピーctaキャッチコピーctaキャッチコピー"
        buttonLabel="ボタン内テキスト"
        buttonHref="移管先リンク"
    />
-->

<div class="cta--sns mt-20 px-10 sm:px-4 sm:pb-10">
    <h2 class="u-heading-line text-center mb-6">SNS</h2>
    <div class="cta--sns__inner mb-4 l-row">
        <h3 class="l-column l-column--6">{text}</h3>
        <Button href={buttonHref} className="cta__btn l-column l-column--6" variant="push">
            <span>{buttonLabel}</span>
        </Button>
    </div>
        <Card
            imgSrc='/assets/images/machikadocafe_kourienn_qr.png'
            alt="Instagram"
            text=""
            className='insta__card'
        />

</div>
