.map {
    margin: 0;
}

.info__block {
    li {
        border-bottom: solid 4px #eee;

        p {
            font-size: 1.25rem;
            font-weight: var(--font-weight-bold);

            a {
                display: inline-block;
                transition: letter-spacing 0.3s ease, transform 0.3s ease, color 0.3s ease;
            }

            a:hover {
                color: var(--accent-color);
                letter-spacing: 0.05em;
                transform: scaleX(1.05);
                transform-origin: center;
            }

            .tooltip {
                position: relative;
                /* 親基準 */
                cursor: pointer;
            }

            .tooltip-text {
                position: absolute;
                top: 0;
                left: 95%;
                transform: translateY(-90%);
                background: var(--sub-color);
                width: 120px;
                height: 120px;
                color: #fff;
                border-radius: 50%;
                white-space: nowrap;
                font-size: 12px;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.5s ease;
                z-index: 5;

                &::after {
                    content: "\f0e0";
                    font-family: "Font Awesome 6 Free";
                    font-size: 1.5rem;
                    font-weight: 900;
                    margin-left: 0.1em;
                }
            }

            .tooltip:hover .tooltip-text {
                opacity: 1;
                visibility: visible;
            }

        }

        .cash-hint{
            font-size: 1rem;
        }
    }
}