@use '../../foundation/import.scss' as *;
    .intro__container{
        h3.u-heading-line{
            padding-bottom: 1rem;
        }
        .img-wrapper{
            max-width: 50%;
            @include media-query(md){
                max-width: 100%;
            }
        }
        p{
            font-size: 1.25rem;
        }

    }
