@use '../../foundation/import.scss' as *;
.insta__card{
    border: none;
    width: 100%;
    height: auto;
    
    .img__wrapper{
        width: 60%;

        .card__img{
            object-fit: contain;
        }
    }

    .card__text{
        display: none;
    }
}