@use '../../foundation/import.scss' as *;
.card,
.card * {
    box-sizing: border-box;
}

.card {
    width: 100%;
    border: solid 3px var(--accent-color);

        .img-wrapper img{
            @include media-query(md){
                object-fit: contain;
            }
        }
}
