@use '../foundation/import.scss' as *;
/* === デバッグ用各要素アウトライン}
* {
    outline: 1px solid red;
} === */

/* ベース */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-jp);
    font-size: var(--font-size-base);
    line-height: 1.6;
    color: #333;
}


body.no-scroll {
    overflow: hidden;
    height: 100%;
}

h1 {
    font-size: var(--font-size-5xl);
}

h2 {
    font-size: var(--font-size-lg2);

    @include media-query(md) {
        font-size: var(--font-size-xl);
    }
}

h3 {
    font-size: var(--font-size-xl);

    @include media-query(md) {
        font-size: var(--font-size-lg);
    }
}

p {
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.map {
    /*マップの設定*/
    margin: 20px auto;
}

.map iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    /*アスペクト比（縦横比）を指定*/
    margin-bottom: 50px;
}

/* 共通のセクションに対して余白を調整 */
section[id] {
    scroll-margin-top: 250px; // ← ヘッダーの高さに合わせて調整してね！
}

.main.main--2col {
    .l-column--8 {
        @include media-query(md) {
            width: 100%;
        }
    }

    .l-column--4 {
        @include media-query(md) {
            width: 100%;
        }
    }
}